{% extends 'base.html' %}

{% block title %}{{ author.username }}{% endblock %}

{% block content %}
<div class="">
	<div class="row">
		<div class="col-4"> <!--style="border-right: 1px solid black">-->
			<p>
				<h1>Photo</h1>
			</p>
			<h1>Username: {{ author.username }}</h1>
			<br>
			<h3>BIO</h3>
		</div>
		<div class="col-8">
			<h1>All posts</h1>
			{% for post in posts %}
			<div class="card mb-2">
				<div class="card-body p-3">
					<div class="row">
						<div class="col-2">
							{{ post.author.username }}
						</div>
						<div class="col-10">
							<div class="row mb-3">
								<div class="col-6">
									<strong class="text-muted">{{ post.title }}</strong>
								</div>
								<div class="col-6 text-right">
									<small class="text-muted">{{ post.createdDate }}</small>
								</div>
							</div>
							{{ post.body|truncatewords:30 }}
							{% if post.author == user %}
							<div class="mt-3">
								<a href="{% url 'edit_post' post.id %}" class="btn btn-primary btn-sm" role="button">Edit</a>
								<a href="{% url 'delete_post' post.id %}" class="btn btn-warning btn-sm" role="button">Delete</a>
							</div>
							{% endif %}
						</div>
					</div>
				</div>
			</div>
			{% endfor %}

			{% if posts.has_other_pages %}
			<nav aria-label="posts pagination" class="mb-4">
				<ul class="pagination">
					{% if posts.has_previous %}
					<li class="page-item">
						<a class="page-link" href="?page={{ posts.previous_page_number }}">Previous</a>
					</li>
					{% else %}
					<li class="page-item disabled">
						<span class="page-link">Previous</span>
					</li>
					{% endif %}

					{% for page_num in posts.paginator.page_range %}
					{% if posts.number == page_num %}
					<li class="page-item active">
						<span class="page-link">
							{{ page_num }}
							<span class="sr-only">(current)</span>
						</span>
					</li>
					{% else %}
					<li class="page-item">
						<a class="page-link" href="?page={{ page_num }}">{{ page_num }}</a>
					</li>
					{% endif %}
					{% endfor %}

					{% if posts.has_next %}
					<li class="page-item">
						<a class="page-link" href="?page={{ posts.next_page_number }}">Next</a>
					</li>
					{% else %}
					<li class="page-item disabled">
						<span class="page-link">Next</span>
					</li>
					{% endif %}
				</ul>
			</nav>
			{% endif %}
		</div>
	</div>
</div>
{% endblock %}